@import "tailwindcss";

@theme {
    --animate-seesaw: seesaw 0.8s ease-in-out infinite;

    @keyframes seesaw {

        0%,
        100% {
            transform: rotate(-8deg);
        }

        50% {
            transform: rotate(8deg);
        }
    }
}

.motion-preset-seesaw {
    @apply animate-seesaw;
}