@import "tailwindcss";

@theme {
  --animate-seesaw: seesaw 0.5s ease-in-out infinite;

  @keyframes seesaw {
    0%, 100% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
  }
}

.motion-preset-seesaw {
  @apply animate-seesaw;
}